/* what is this? */
html{
  background-color: #A9A9A9;
  position: relative;
}

#top{
  height: 600px;
  width: 100%
}

#square {
  z-index: 1;
  height : 500px;
  width : 500px;
  border: 1px solid 	#000000;
  background-color: #f4f7f6;
}

.rect {
  z-index: 2;
  border: 1px solid 	#000000;
  background-color: #808080;
  position: absolute;
}

.point {
  z-index: 3;
  height : 10px;
  width : 10px;
  border-radius: 50%;
  border: 1px solid #B0C4DE;
  background-color: #7FFF00;
  position: absolute;
}

div.active {
  z-index: 5;
  background-color: #DC143C;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  transform: translate(-50%, -50%);
}
