html{
  background-color: #A9A9A9;
  position: relative;
}

#top{
  width: 100%
}

.square {
  z-index: 1;
  height : 500px;
  width : 500px;
  border: 1px solid 	#000000;
  background-color: #f4f7f6;
}

.control {
  z-index: 5;
  width : 300px;
  border: 1px solid 	#000000;
  background-color: #FFEBCD;
}

.rect {
  z-index: 2;
  border: 1px solid 	#000000;
  background-color: #808080;
  position: absolute;
}

.point {
  z-index: 3;
  height : 8px;
  width : 8px;
  border-radius: 50%;
  border: 1px solid #000000;
  background-color: #7FFF00;
  position: absolute;
}

div.active {
  z-index: 5;
  background-color: #DC143C;
}

.center{
  position: relative;
  margin:auto;
  margin-top: 20px;
}

p{
  font-size: 1.156em;
  line-height: 0.6;
  margin-left: 0px;

  text-align: center;
  font-family: "Gill Sans MT", "Gill Sans", "My Gill Sans", sans-serif
}

p.title{
  text-transform: uppercase;
  letter-spacing: .051em;
  font-size: 1.6em;
  margin-top: 5px;
  font-family: "OFL Sorts Mill Goudy", "Noto Nastaliq Urdu", "My Noto Nastaliq Urdu", Georgia, serif;
}

a.button{
   color: #696969;
   text-decoration:underline;
   cursor: pointer;
}
